# Python Cache
**/__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store

# VSCode
.vscode/

# SQLite
*.db
*.sqlite3

.env
